{% load static %}

<!doctype html>
<html lang="ru" class="h-100">
<head>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">


    <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">DOZER_FM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ask' %}">I got a question!</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           style="max-width: 200px">
                    <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; margin-left: 0">
                        Search
                    </button>
                </form>
                <div class="text-end">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'registration' %}">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8" style="margin-top: 20px">
                {% block content %}
                {% endblock %}

            </div>
            <div class="col-4" style="position: fixed; right: 0; margin-top: 20px">
                <div class="tags" style="margin-left: 30px; font-size: 26px">
                    <h2>Popular Tags</h2>
                    {% for tag in tags %}
                        <span class="badge bg-dark"><a style="color: white; background-color: transparent;
                        text-decoration: none;" class="tag-link" href="{% url 'tag' tag.id %}">
                            {{ tag.tag_name }}
                        </a>
                        </span>
                    {% endfor %}
                </div>
                <br>
                <h2 style="margin-left: 30px;">Best members</h2>
                <ul class="list-group list-group-flush" style="margin-left: 30px; max-width: 200px;">
                    {% for user in best_users %}
                        <li class="list-group-item"><a href="">{{ user.nickname }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Created by Dozer</span>
    </div>
</footer>


<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>