{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h2>Settings: *User name*</h2>
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-4"></div>
            <div class="col-6">
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <input type="submit" class="btn-dark" style="border: 0 solid #000000;" value="Save!">
            </div>
        </div>

    </form>
{% endblock %}


