{% extends 'main/base.html' %}


{% block title %}
Log In
{% endblock %}

{% block content %}
<h2>Log In</h2>
<div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
    <div class="col-3">
        <p>Login </p>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <input type="Login" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp"
                   placeholder="Login" style="border: 2px solid #000000; padding: 1px;">
        </div>
    </div>

</div>
<div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">

    <div class="col-3">
        <p>Password </p>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <input type="Login" class="form-control" id="exampleInputPassword" aria-describedby="emailHelp"
                   placeholder="Password" style="border: 2px solid #000000; padding: 1px;">
        </div>
        <button type="reset" class="btn-dark" style="border: 0 solid #000000;">Log in!</button>
    </div>

</div>
{% endblock %}

