{% extends 'main/base.html' %}


{% block title %}
    Log In
{% endblock %}

{% block content %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <h2>Log In</h2>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            {% if messages or form.non_field_errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% else %}
                        {{ form.non_field_errors }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Login </p>
            </div>
            <div class="col-4">
                <div class="mb-4">
                    {{ form.username }}
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Password </p>
            </div>
            <div class="col-4">
                <div class="mb-4">
                    {{ form.password }}
                </div>
                <input type="submit" class="btn-dark" style="border: none;" value="Sign In">
                <br><br>
                <a href="{% url 'registration' %}">create new account</a>
            </div>
        </div>
    </form>
{% endblock %}

