{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Question
{% endblock %}


{% block content %}
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <div class="row">
        <div class="col-2">
            <img src="{% static '/img/users_images/css_ava.jpg' %}" alt="" class="question-image">
            <div class="row" style="margin-top: 10px">
                <div class="col-4">
                    <button type="button" class="btn btn-light">-</button>
                </div>
                <div class="col-4" style="display: flex; align-items: center;">
                    <h5>{{ question.amount_of_likes }}</h5>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-light">+</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="question-title" style="font-size: 28px; font-family: monospace">{{ question.title }}</div>
            <div class="question-text" style="font-size: 24px">{{ question.text }}</div>
            <br>
            <h6>Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.id %}">{{ tag }}</a>
                {% endfor %}</h6>
        </div>
        <hr style="border: none; height: 3px; background-color: black; margin: 10px 10px; opacity: 1;">

        {% for answer in answers %}
            <div class="row"
                 style="border: 2px solid #000000; margin-top: 10px; border-radius: 6px; padding: 20px; margin-left: 10px">
                <div class="col-2">
                    <img src="{% static '/img/users_images/css_ava.jpg' %}" alt=""
                         style="max-width: 120px; max-height: 120px;">
                    <div class="row" style="margin-top: 10px">
                <div class="col-4">
                    <button type="button" class="btn btn-light">-</button>
                </div>
                <div class="col-4" style="display: flex; align-items: center;">
                    <h5>{{ question.amount_of_likes }}</h5>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-light">+</button>
                </div>
            </div>
                </div>
                <div class="col-9">
                    <div class="question-text">{{ answer.answer_text }}</div>
                    <br>
                    <div class="form-check">
                        {% if answer.truly %}
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault">
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example" style="margin-top: 30px">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not answers.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if answers.has_previous %} {% url 'question paginator' question.id answers.previous_page_number %} {% else %} # {% endif %}"

                       tabindex="-1" aria-disabled="true">
                        Previous
                    </a>
                </li>
                {% for page in answers.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'question paginator' question.id page %}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}
                <li class="page-item {% if not answers.has_next %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if answers.has_next %}   {% url 'question paginator' question.id answers.next_page_number %}   {% else %}   #   {% endif %}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

        <hr style="border: none; height: 3px; background-color: black; margin: 10px 10px; opacity: 1;">
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="You can write your answer here!" style="border: 2px solid #000000;"></textarea>
            <button type="button" class="btn btn-dark" style="margin-top: 10px">Answer</button>
        </div>
    </div>
{% endblock %}