{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Question
{% endblock %}


{% block content %}
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <div class="row">
        <div class="col-2">
            <img src="{% static '/img/users_images/../../main/uploads/21104.png' %}" alt="" class="question-image">
            <div class="row" style="margin-top: 10px">
                <div class="col-4">
                    <button type="button" class="btn btn-light">-</button>
                </div>
                <div class="col-4" style="display: flex; align-items: center;">
                    <h5>{{ question.amount_of_likes }}</h5>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-light">+</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="question-title" style="font-size: 28px; font-family: monospace">{{ question.title }}</div>
            <div class="question-text" style="font-size: 24px">{{ question.text }}</div>
            <br>
            <h6>Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.id %}">{{ tag }}</a>
                {% endfor %}</h6>
        </div>
        <hr style="border: none; height: 3px; background-color: black; margin: 10px 10px; opacity: 1;">

        {% for answer in answers %}
            {% include 'components/answer-block.html' with answer=answer %}
        {% endfor %}
        {% include 'components/pagination_navbar.html' with items=answers %}

        <hr style="border: none; height: 3px; background-color: black; margin: 10px 10px; opacity: 1;">
        <div class="mb-3">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for field, errors in form.errors.items %}
                        {{ field }}:
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.answer_text }}
                </div>
                <input type="submit" class="btn btn-dark" style="margin-top: 10px" value="Submit Answer">
            </form>

        </div>
    </div>
{% endblock %}