{% extends 'main/base.html' %}


{% block title %}
    Log In
{% endblock %}

{% block content %}
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        <h2>Registration</h2>
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Login </p>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Email</p>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <div class="mb-3">
                        {{ form.email }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>NickName</p>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    {{ form.nickname }}
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Password</p>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    {{ form.password1 }}
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 10px; padding: 20px; margin-left: 10px">
            <div class="col-3">
                <p>Repeat password</p>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <div class="mb-3">
                        {{ form.password2 }}
                    </div>
                </div>
                <input type="submit" class="btn-dark" style="border: 0 solid #000000;" value="Sign up!">
                <br><br>
                <a href="{% url 'login' %}">already have an account</a>
            </div>
        </div>
    </form>
{% endblock %}

