
main > .container {
    padding: 60px 15px 0;
}


.question {
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}


.question-image {
    max-width: 120px;
    max-height: 120px;
}

.answer-image {
    max-width: 100px;
    max-height: 100px;
}

.taggg {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 26px
}

.tag-link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.answer {
    border: 3px black;
    margin-top: 20px;
    border-radius: 0;
    padding: 20px;
}

.title {
    font-family: monospace;
    font-size: 80px;
}

.text {
    font-family: monospace;
    font-size: 10px;
}

.link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

